body{
    background-color: gainsboro;

#Log-in-container{
      margin-left:30%;
      margin-top: 5%;   
      height:55vh;
      width:30vw;
      background-color:white ;
      text-align:center ;
    
      .sign-in-details{
       margin-bottom: 2vh;
       font-size: 1.8rem;
          
        
      }
      #log-in-button{
        background-color: orange;
        font-size: 1.8rem;
        padding: 3 150 3 150;
        cursor: pointer;
        color:rgb(250, 241, 241);
      }
      #google-sign-in{
        background-color: rgb(102, 102, 172);
        font-size: 1.2rem;
        padding: 7 110 7 110;
        cursor: pointer;
        color:rgb(250, 241, 241);
      }

 
 
 
    }
}